@{
    ViewBag.Title = "Index";
}

<h2>Basic List Group</h2>
<input type="hidden" name="hdnCurrentSelectedType" id="hdnCurrentSelectedType" value="@ViewBag.SelectedType" />
<input type="hidden" name="hdnFolderName" id="hdnFolderName" value="@ViewBag.FolderName" />
<div class="row">
    <div class="col-xs-3">
        <select class="form-control" onchange="OnFileServiceTypeSelect(this)">
            <option value="@((int)SocialStorageType.GoogleDrive)" @(@ViewBag.SelectedType == ((int)SocialStorageType.GoogleDrive) ? "selected" : "")>Google Drive</option>
            <option value="@((int)SocialStorageType.OneDrive)" @(@ViewBag.SelectedType == ((int)SocialStorageType.OneDrive) ? "selected" : "")>One Drive</option>
            <option value="@((int)SocialStorageType.Dropbox)" @(@ViewBag.SelectedType == ((int)SocialStorageType.Dropbox) ? "selected" : "")>Drop box</option>
        </select>
    </div>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-6">
        <label class="btn btn-default btn-file">
            Browse <input type="file" hidden name="FileUpload1" id="FileUpload1">
        </label>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-info btn-sm" onclick="OnFileUpload(this)">Upload</button>
    </div>
</div>
<div class="row" style="padding-top:10px">
    <ol id="storage-breadcrumb" class="breadcrumb"></ol>
</div>
<div class="row" id="divGetFolderList">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        GetList("", "", false);
        LoadBreadcrumb("", "");
    });
</script>